<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <File name="ServerLog" fileName="logs/server.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <Async name="Async">
            <AppenderRef ref="ServerLog"/>
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="ffb.analyzer.core" level="warn">
            <AppenderRef ref="ServerLog"/>
        </Logger>
        <Logger name="ffb.analyzer.application" level="debug">
            <AppenderRef ref="ServerLog"/>
        </Logger>
        <Root>
            <AppenderRef ref="ServerLog"/>
        </Root>
    </Loggers>
</Configuration>